<!DOCTYPE html>
<html>
  <head>
    <title>Jackson's Factory</title>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
    <p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
  </body>
</html>