@{
  Layout = "_Layout";
}

<h1>Factory Home</h1>
<p>Links:</p>
<div class="engineer">
  <p>@Html.ActionLink("See a list of engineers!", "Index", "Engineers")</p>
</div>  
<div class="machine">
  <p>@Html.ActionLink("See a list of machines!", "Index", "Machines")</p>
</div>  
